<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="header">
            <ul class="top">
                <li class="padding"></li>
                <li class="title"><div><i>Countdown</i></div></li>
                <li class="user"><div>Aarys Sahler</div></li>
            </ul>
        </div>
        <div class="main">
            <ul class="cards">
                <li class="cards_item">
                    <div class="card">
                        <div class="card_title"> Very interesting thing </div>
                        <div class="card_underline"></div>
                        <div class="card_text"> 136 jours 15 heures 28 minutes 43 secondes </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_title"> Very interesting thing </div>
                        <div class="card_underline"></div>
                        <div class="card_text"> 136 jours 15 heures 28 minutes 43 secondes </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_title"> Very interesting thing </div>
                        <div class="card_underline"></div>
                        <div class="card_text"> 136 jours 15 heures 28 minutes 43 secondes </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_title"> Very interesting thing </div>
                        <div class="card_underline"></div>
                        <div class="card_text"> 136 jours 15 heures 28 minutes 43 secondes </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>